<header id="KGlobalHeader" class="header clearfix">
  <nav class="navbar navbar-expand-lg {% unless site.not_made_by_kde %} with-made-by-kde {% endunless %}">
    {% if site.use-kde-logo %}
        <a class="kde-logo navbar-brand active" href="/"></a>
    {% else %}
        <a class="app-logo navbar-brand active" href="/">
            <img src="{% if site.app_icon %}{{ site.app_icon | relative_url }}{% else %}{{ '/assets/img/app_icon.png' | relative_url }}{% endif %}" alt="Logo" />
        </a>
    {% endif %}
    {% if site.navigation.top | length > 0 %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-kde" aria-controls="navbar-kde" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-kde">
      <ul class="navbar-nav mr-auto">
        {% unless site.hide-title-nav %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}"
             href="{{ '/' | relative_url }}" aria-haspopup="true"
             aria-expanded="false">
            {{ site.title }}
          </a>
        </li>
        {% endunless %}
        {% if site.navigation.top %}
          {% assign sorted = site.navigation.top %}
        {% else %}
          {% assign sorted = site.pages | sort: "sorted" %}
        {% endif %}

        {% for nav in sorted %}
          {% if nav.subnav %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if page.menu_active == nav.title %}active{% endif %}" href="#" id="navbar{{nav.title|slugify}}"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ nav.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar{{nav.title|slugify}}">
              {% for subnav in nav.subnav %}
                <a class="dropdown-item" href="{{ subnav.url }}">{{ subnav.title }}</a>
              {% endfor %}
            </div>
          </li>
          {% elsif nav.components %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar{{nav.title|slugify}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ nav.title }}
            </a>
            <div class="dropdown-menu component-selector" aria-labelledby="navbar{{nav.title|slugify}}">
              <div class="nav-menu-apps">
              {% for component in nav.components %}
                <a href="{{ component.url }}" style="background-image: url({{component.background}})">{{ component.title }}</a>
              {% endfor %}            
              </div>
            </div>
          </li>
          {% elsif nav.title and (nav.title != "Changelog" or (site.changelogs | size) != 0) %}
          {% assign checkActive = page.url | split:nav.url %}
          <li class="nav-item">
              <a class="nav-link {% if page.menu-active == nav.title or page.url == nav.url or checkActive[0] == blank and page.url != "/" %}active{% endif %}" href="{{ nav.url }}">{{ nav.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% unless site.not_made_by_kde %}
    <a class="made-by-kde{% unless site.navigation.top %} ml-auto{% endunless %}" href="https://kde.org">
      Made by KDE
    </a>
    {% endunless %}
  </nav>
</header>
